*{background-color: grey}
header, h2, {font-family: Merriweather;
  color: blue
}

header {text-align: Center}
img.displayed {display: block;
  margin-left: auto;
  margin-right: auto;
}
hr {width: 100%;
  margin-left: auto;
  margin-right: auto;
}


